@model IEnumerable<NTTool.Models.SoftwareEntity>

@{
    ViewBag.Title = "Details";
}

<h2>Installled software list</h2>

<table>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.DisplayName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DisplayVersion)
        </th>
        
     
     
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.DisplayName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.DisplayVersion)
        </td>
     
        
    </tr>
}

</table>
